<h2 style="margin-top:50px;">Dinner Details</h2>
  <% @dinner.each do |dinner|  %>
<div>
  <p>
    <b>When: </b><%= dinner[:event_date] %>
  </p>
  <p>
    <b>Where: </b><%= dinner[:address]%> - <%= dinner[:country] %>
  </p>
  <p>
    <b>Description: </b><%= dinner[:description] %>
  </p>
  <p>
    <b>Organizer: </b><%= dinner[:hosted_by] %>(<%= dinner[:contact_phone] %>)
  </p>
    <% end %>
</div>
