<h2 style="margin-top:60px">Upcoming Dinners</h2>
<ul id="dinner-list" class="list-group">
  <% @dinners.each do |dinner| %>
  <li id="<%=dinner[:_id] %>" class="list-group-item">
    <a href="/details/<%= dinner[:_id] %>"><%=dinner[:title] %></a> on <%= dinner[:event_date] %>
    <a href="/rsvp/<%= dinner[:_id] %>" class="btn-xs btn-danger pull-right">RSVP</a>
  </li>
<% end %>
</ul>
